/* background for page body */
body {
  background-color:#e3e7ea;
}

/* styling for header */
#top-content {
  background-color: #627c8b;
}

header {
	width: 960px;
  height: 80px;
	margin: 0px auto 0px auto;
  position: relative;
}

#company-name {
	height: 80px;
	width: 240px;
  text-align: center;
  font-size: 36px;
	line-height: 80px;
	vertical-align: middle;
  float: left;
  color: whitesmoke;
}

#nav {
	position: absolute;
	top: 32px;
	right: 0px;
}

li {
	display: inline;
	padding: 0px 20px 0px 20px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: whitesmoke;
}

/* styling for search form */
#main-content {
  width: 960px;
  margin: 0 auto;
}

#slogan {
  font-size: 30px;
  text-align: center;
  margin: 30px;
  font-weight: bold;
}

#job-description, #job-location {
  text-align:center;
}

#job-description {
  float: left;
  width: 450px;
}

#job-location {
  float: right;
  width: 450px;
}

.search-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

input[name=search-query] {
  width: 300px;
  height: 20px;
}

input[name=city], input[name=state] {
  height: 20px;
  margin-right: 10px;
}

#search-button {
  clear: both;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
}

button[type=submit] {
  background-color: #2f363d;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  color: whitesmoke;
  font-size: 18px;
}

/* styling for related careers list */
#related-careers {
  border-right: 2px solid lightgrey;
  width: 400px;
  margin-top: 20px;
  display: inline-block;
  vertical-align: top;
}

.career-link {
  font-style: italic;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: lightgreen;
  border-radius: 50%;
  display: inline-block;
}

/* styling for job results list */
#job-results {
  display: inline-block;
  width: 500px;
  margin-top: 20px;
  margin-left: 20px;
}

#results-table {
  width: 500px;
}

.result-header {
  margin: 8px 0px;
}

.company-name {
  margin: 8px 0px;
}

.result-description {
  margin: 8px 0px;
}

.job-title, .heart, .location {
  display: inline;
}

.location {
  float: right;
}

.heart {
  height: 18px;
  width: 18px;
  vertical-align: bottom;
  margin-left: 5px;
}

#careers-table {
  width:350px;
}

td, th {
  padding: 10px;
  text-align: left;
  vertical-align: middle;
}

th {
  font-weight: bold;
  font-size: 18px;
}

/* styling for footer */
footer {
  margin: 40px auto;
  padding: 30px;
  color: rgb(180,180,180);
  text-align: center;
  font-size: 16px;
}

/* styling for saved jobs page */
#favorites-list {
  width: 650px;
  margin: 20px auto;
}

/* Clearfix */
.cf:after {
  content: "";
  display: table;
  clear: both;
}